language: java
dist: bionic
jdk:
  - openjdk8
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
before_install:
  - sudo apt-get update -q
  - sudo apt install openjfx libopenjfx-java libopenjfx-jni
after_success:
  - ./deploy.sh
notifications:
  email:
    recipients:
      - daniele1.comi@mail.polimi.it
    on_success: always
    on_failure: always
